h1{
    font-size: 30pt;
}

h2{
    font-size: 24pt;
}

h3 {
    font-size: 20pt;
}

.jumbotron{
    background: #0b1d31;
    padding:1%;
    color:snow;
    border-radius: 5px;
}
.jumbotron-inner{
    background:ghostwhite;
    font-family: Roboto, sans-serif;
    color:black;
    border-radius: 2px;
    font-size: 10pt;
    padding: 1%;
}
.header-red{
    background: #c83737;
    border-radius: 3px;
    border: none !important;
    padding: 1%;
    color:white;
    margin: 1% 0 1% 0;
}

thead .header-red th{
    background-color: #c83737 !important;
    border: none !important;
}

.source{
    background: #ffffcc;
}


th a{
    color:white;
}

th a:hover{
    color:white;
}

th a:visited{
    color:white;
}

textarea{
    width: 100%;
}

.result.clean{
    color: #61da00;
}

.result.malicious{
    color: #ff0000;
}

.results{
    text-align: right;
}