.result.clean{
    color: #61da00;
}

.result.malicious{
    color: #ff0000;
}

.results{
    text-align: center;
    border: 1em solid rgba(0,0,0,0);
    padding: 2%;
    width: 100% !important;
    display: inline-block;
}

.alert-success{
    text-align: center;
}

textarea{
    width: 100%;
}