<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title, extraCSS)">
    <meta charset="UTF-8"/>
    <title>Smells phishy!</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;subset=latin-ext" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"/>

    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" th:href="${extraCSS}"/>

    <title th:text="${title}"></title>

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css"></script>
    <script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
</head>
</html>