<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:include="header :: header('Smells Phishy - Generate Ticket', 'css/ticket.css')">

</head>
<body style="padding:2%">
<script type="javascript">
    window.onbeforeunload = function () {
        if (String(window.performance.getEntriesByType("navigation")[0].type) === "reload") {
            return ("Reload?");
        }
    };
</script>
<h1>Generate ticket</h1>
<form action="/generateTicket" id="generateTicket" method="post" th:object="${ticketForm}">
    <div class="jumbotron" id="ticketForm">
        <h2>Ticket content</h2>
        <div class="jumbotron-inner">
            <h3>Details</h3>
            <section class="jumbotron-section">
                <div class="form-group row">
                    <label for="subject" class="col-2 col-form-label">Subject:</label>
                    <div class="col-auto">
                        <input disabled type="text" size="80" class="form-control-plaintext" name="subject" id="subject"
                               th:field="*{subject}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="recipients" class="col-2 col-form-label">Recipients:</label>
                    <div class="col-auto">
                        <input disabled type="text" size="30" class="form-control-plaintext" name="recipients"
                               id="recipients"
                               th:value="*{recipients}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="summary" class="col-auto col-form-label">(*) Summary of phishing activity:</label>
                        <textarea rows="3" class="form-control col-auto" th:field="*{summary}" id="summary"
                                  style="width: 98%"></textarea>
                    </div>
                    <div th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}"
                         th:text="${#fields.errors('summary')}" class="alert alert-danger"></div>
                </div>
                <div class="form-group row">
                    <label for="receivedAt" class="col-2 col-form-label">Date/Time original mail received:</label>
                    <div class="col-auto">
                        <input disabled type="text" class="form-control-plaintext" name="receivedAt" id="receivedAt"
                               th:value="*{mailReceivedAt}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="reportedAtDate" class="col-2 col-form-label">(*) Date Reported:</label>
                    <div class="col-auto">
                        <input type="text" class="form-control" th:field="*{reportedAtDate}" id="reportedAtDate"
                               size="30">
                    </div>
                    <label for="reportedAtTime" class="col-form-label">(*) Time: </label>
                    <div class="col-auto">
                        <input type="text" id="reportedAtTime" th:field="*{reportedAtTime}" class="form-control">
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('reportedAtDate') || #fields.hasErrors('reportedAtTime')}"
                     th:errors="*{reportedAtDate}" class="alert alert-danger">[Field is required]
                </div>
            </section>
            <hr>

            <h3>Incident information</h3>
            <section class="jumbotron-section">
                <div class="form-group row">
                    <div class="col-3">
                        <div class="form-check">
                            <input type="checkbox" th:field="*{credentialsEntered}" class="form-check-inline"
                                   id="credentialsEntered">
                            <label for="credentialsEntered" class="form-check-inline">Credentials entered</label>
                        </div>
                    </div>
                    <label for="credDate" class="col-form-label-sm credForm hidden">Date: </label>
                    <div class="col-auto">
                        <input type="text" class="form-control-sm credForm hidden"
                               th:field="*{credentialsEnteredAtDate}" id="credDate"
                               size="30">
                    </div>
                    <label for="credTime" class="col-form-label-sm credForm hidden">Time: </label>
                    <div class="col-auto">
                        <input type="text" id="credTime" th:field="*{credentialsEnteredAtTime}"
                               class="form-control-sm credForm hidden">
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('credentialsEnteredAtDate')}" th:errors="*{credentialsEnteredAtDate}"
                     th:text="${#fields.errors('credentialsEnteredAtDate')}" class="alert alert-danger"></div>
                <div th:if="${#fields.hasErrors('credentialsEnteredAtTime')}" th:errors="*{credentialsEnteredAtTime}"
                     th:text="${#fields.errors('credentialsEnteredAtTime')}" class="alert alert-danger"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <div class="form-check">
                            <input type="checkbox" th:field="*{attachmentOpened}" class="form-check-inline"
                                   id="attachmentOpened">
                            <label for="attachmentOpened" class="form-check-inline">Attachment opened</label>
                        </div>
                    </div>
                    <label for="attDate" class="col-form-label-sm attForm">Date: </label>
                    <div class="col-auto">
                        <input type="text" class="form-control-sm attForm" th:field="*{attachmentOpenedAtDate}"
                               id="attDate" size="30">
                    </div>
                    <label for="attTime" class="col-form-label-sm attForm">Time: </label>
                    <div class="col-auto">
                        <input type="text" id="attTime" th:field="*{attachmentOpenedAtTime}"
                               class="form-control-sm attForm">
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('attachmentOpenedAtDate')}" th:errors="*{attachmentOpenedAtDate}"
                     th:text="${#fields.errors('attachmentOpenedAtDate')}" class="alert alert-danger"></div>
                <div th:if="${#fields.hasErrors('attachmentOpenedAtTime')}" th:errors="*{attachmentOpenedAtTime}"
                     th:text="${#fields.errors('attachmentOpenedAtTime')}" class="alert alert-danger"></div>

                <div class="form-group row">
                    <div class="col-3">
                        <div class="form-check">
                            <input type="checkbox" th:field="*{linkClicked}" class="form-check-inline"
                                   id="linkClicked">
                            <label for="linkClicked" class="form-check-inline">Link clicked</label>
                        </div>
                    </div>
                    <label for="credDate" class="col-form-label-sm linkForm">Date: </label>
                    <div class="col-auto">
                        <input type="text" class="form-control-sm linkForm" th:field="*{linkClickedAtDate}"
                               id="linkDate" size="30">
                    </div>
                    <label for="credTime" class="col-form-label-sm linkForm">Time: </label>
                    <div class="col-auto">
                        <input type="text" name="linkTime" th:field="*{linkClickedAtTime}"
                               class="form-control-sm linkForm">
                    </div>
                    <div th:if="${#fields.hasErrors('linkClickedAtDate')}" th:errors="*{linkClickedAtDate}"
                         th:text="${#fields.errors('linkClickedAtDate')}" class="alert alert-danger"></div>
                    <div th:if="${#fields.hasErrors('linkClickedAtTime')}" th:errors="*{linkClickedAtTime}"
                         th:text="${#fields.errors('linkClickedAtTime')}" class="alert alert-danger"></div>
                </div>
            </section>
            <span th:if="*{!links.isEmpty()}">
        <hr>
        <h3>Link information</h3>
        <section class="jumbotron-section">
            <div th:each="linkInfo, itemStat : *{links}">
                <div class="form-group row">
                    <label th:for="*{links[__${itemStat.index}__].link}"
                           class="col-1 col-form-label">Link:</label>
                    <div class="col-6">
                        <input readonly size="30" class="form-control-plaintext" name="subject"
                               th:id="*{links[__${itemStat.index}__].link}"
                               th:field="*{links[__${itemStat.index}__].link}"
                               th:value="*{links[__${itemStat.index}__].link}">
                    </div>
                    <label th:for="*{links[__${itemStat.index}__].detectionCount}" class="col-1 col-form-label">Detection count:</label>
                    <div class="col-1">
                        <input class="form-control" name="subject"
                               th:id="*{links[__${itemStat.index}__].detectionCount}"
                               th:field="*{links[__${itemStat.index}__].detectionCount}"
                               th:value="*{links[__${itemStat.index}__].detectionCount}">
                    </div>
                        <input type="checkbox" class="form-check-inline"
                               th:field="*{links[__${itemStat.index}__].clicked}"
                               th:id="*{links[__${itemStat.index}__].clicked}"
                               th:value="*{links[__${itemStat.index}__].clicked}">

                        <label th:for="*{links[__${itemStat.index}__].clicked}"
                               class="form-check-inline">Link clicked</label>
                </div>
                <hr>
            </div>
        </section>
        </span>
            <span th:if="*{!attachments.isEmpty()}">
        <hr>
        <h3>Attachment information</h3>
        <section class="jumbotron-section">
            <div th:each="attachmentInfo, itemStat : *{attachments}">
                <div class="form-group row">
                    <label th:for="*{attachments[__${itemStat.index}__].hash}"
                           class="col-1 col-form-label">Hash:</label>
                    <div class="col-6">
                        <input readonly size="30" class="form-control-plaintext"
                               th:id="*{attachments[__${itemStat.index}__].hash}"
                               th:field="*{attachments[__${itemStat.index}__].hash}"
                               th:value="*{attachments[__${itemStat.index}__].hash}">
                    </div>
                    <label th:for="*{attachments[__${itemStat.index}__].detectionCount}"
                           class="col-1 col-form-label">Detection count:</label>
                    <div class="col-1">
                        <input class="form-control"
                               th:id="*{attachments[__${itemStat.index}__].detectionCount}"
                               th:field="*{attachments[__${itemStat.index}__].detectionCount}"
                               th:value="*{attachments[__${itemStat.index}__].detectionCount}">
                    </div>
                        <input type="checkbox" class="form-check-inline"
                               th:field="*{attachments[__${itemStat.index}__].opened}"
                               th:id="*{attachments[__${itemStat.index}__].opened}"
                               th:value="*{attachments[__${itemStat.index}__].opened}">

                        <label th:for="*{attachments[__${itemStat.index}__].opened}" class="form-check-inline">Attachment opened</label>
                </div>
                <hr>
            </div>
        </section>
        </span>
        </div>
    </div>
    <div class="jumbotron" id="headerForm">
        <h2>Results of header analysis</h2>
        <div class="jumbotron-inner">
            <div class="form-row">
                <label for="srcIpInfo">Origin IP Address:</label>
            </div>
            <div class="form-row">
                <select th:field="*{srcID}" id="srcIpInfo" class="form-control">
                    <option th:each="ipInfo : *{ipTrace}" th:value="${ipInfo.getId()}"
                            th:text="${ipInfo.getIp()} + ' - ' + ${ipInfo.getLocationInfo()}"></option>
                </select>
            </div>
            <div class="form-row form-check">
                <input class="form-check-inline" id="ipSAPConfigured" type="checkbox" th:field="*{SAPDefined}">
                <label class="form-check-inline" for="ipSAPConfigured"> IP defined within SAP Address space (Check using
                    IPAM) </label>
            </div>
            <div class="form-row form-check">
                <input class="form-check-inline" id="ipSpoofed" type="checkbox" th:field="*{spoofed}">
                <label class="form-check-inline" for="ipSpoofed"> Source address is spoofed or unreliable</label>
            </div>
            <div id="arin" class="form-row">
                <label for="arinLocation" class="col -form-label">ARIN Location</label>
                <input type="text" th:field="*{arin}" id="arinLocation" class="form-control col-auto">
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h2>Mitigation</h2>
        <div class="jumbotron-inner">
            <div class="form-row form-check">
                <input class="form-check-inline" id="pwdResetRequested" type="checkbox" th:field="*{pwdResetRequested}">
                <label class="form-check-inline" for="pwdResetRequested"> Request password reset</label>
            </div>
            <div class="form-row form-check">
                <input class="form-check-inline" id="senderBlockRequested" type="checkbox"
                       th:field="*{senderBlockRequested}">
                <label class="form-check-inline" for="senderBlockRequested"> Request Sender block (IronPort & SAP
                    Spam)</label>
                <div class="alert alert-warning" id="mitigationAlert">
                    <p>Always make sure to execute all manual mitigation steps</p>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-blue submit" value="submit">
</form>
<script>

    $(document).ready(function () {

        $("#reportedAtDate").datepicker({"dateFormat": "yy-mm-dd"});

        if (!($("#linkClicked").is(":checked"))) {
            $(".linkForm").addClass("invisible");
            $("input.linkForm").prop("disabled", "disabled");
        }

        $("#linkDate").datepicker({"dateFormat": "yy-mm-dd"})

        $('#linkClicked').on('click', function () {
            if ($("#linkClicked").is(":checked")) {
                $("input.linkForm").prop("disabled", false);
                $(".linkForm").removeClass("invisible");
            } else {
                $("input.linkForm").prop("disabled", "disabled");
                $(".linkForm").addClass("invisible");
            }
        });

        $("#attDate").datepicker({"dateFormat": "yy-mm-dd"});

        if (!($("#attachmentOpened").is(":checked"))) {
            $(".attForm").addClass("invisible")
            $("input.attForm").prop("disabled", "disabled");
        }

        $('#attachmentOpened').on('click', function () {
            console.log("Change!");
            if ($("#attachmentOpened").is(":checked")) {
                $("input.attForm").prop("disabled", false);
                $(".attForm").removeClass("invisible");
            } else {
                $("input.attForm").prop("disabled", "disabled");
                $(".attForm").addClass("invisible");
            }
        });

        $("#credDate").datepicker({"dateFormat": "yy-mm-dd"});

        if (!($("#credentialsEntered").is(":checked"))) {
            $(".credForm").addClass("invisible");
            $("input.credForm").prop("disabled", "disabled");
        }

        $('#credentialsEntered').on('click', function () {
            console.log("Change!");
            if ($("#credentialsEntered").is(":checked")) {
                $("input.credForm").prop("disabled", false);
                $(".credForm").removeClass("invisible");
            } else {
                $("input.credForm").prop("disabled", "disabled");
                $(".credForm").addClass("invisible");
            }
        });

        if (!($("#senderBlockRequested, #pwdResetRequested").is(":checked"))) {
            $("#mitigationAlert").addClass("invisible");
        }

        $("#senderBlockRequested, #pwdResetRequested").on('click', function () {
            if ($(this).is(":checked")) {
                $("#mitigationAlert").removeClass("invisible");
            } else {
                $("#mitigationAlert").addClass("invisible");
            }
        });
    });

</script>
</body>
</html>